{% extends 'base.html' %}
{% block content %}
     <main>
        <!-- Home page -->
{% block head %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% endblock %}

<div class="event-schedule-area-two bg-color pad100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
                        <h2>My Students</h2>
                    </div>

                </div>
            </div>
            <!-- /.col end-->
        </div>
        <!-- row end-->
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav custom-tab" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active show" id="home-taThursday" data-toggle="tab" href="{% url 'classes' pk=diaryuser.pk %}" role="tab" aria-controls="home" aria-selected="true">Individual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="{% url 'groups' pk=diaryuser.pk %}" role="tab" aria-controls="profile" aria-selected="false">Groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="{% url 'add student' %}" role="tab" aria-controls="profile" aria-selected="false">Add a student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="{% url 'create group' %}" role="tab" aria-controls="profile" aria-selected="false">Create a group</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th scope="col">Student/Group</th>
                                        <th scope="col">Information</th>
                                        <th scope="col">Place</th>
                                        <th class="text-center" scope="col"></th>
                                    </tr>
                                </thead>
{#                        List of students starts#}
                                {% for student in students %}
                                <tbody>
                                    <tr class="inner-box">

                                        <td>
                                            <div class="event-img">
                                                <img src="https://static.vecteezy.com/system/resources/previews/000/511/962/original/vector-student-glyph-black-icon.jpg" alt="" />
                                            </div>
                                        </td>

                                        <td>

                                            <div class="event-wrap">
                                                <h3><a href="{% url 'edit student' pk=student.pk %}">{{ student.name}}</a></h3>
                                                <div class="meta">
                                                    <div class="organizers">
                                                        <a href="{% url 'profile' pk=user.pk %}">{{ student.teacher.first_name}} {{ student.teacher.last_name}}</a>
                                                    </div>
                                                    <div class="categories">
                                                        {% if student.subject %}
                                                        <a href="{% url 'edit subject' pk=student.subject.pk %}">Subject: {{ student.subject }}</a>
                                                        {% else %}
                                                            <a href="{% url 'create subject' %}">Subject: No subject selected</a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="time">

                                                        {% if student.lesson_time %}
                                                        <span>{{ student.lesson_time}}</span>
                                                        {% else %}
                                                        <span>No information about the usual time of the lesson</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="r-no">
                                                {% if student.place %}
                                                <span>{{ student.place}}</span>
                                                {% else %}
                                                <span>No information about the place of the event</span>
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="primary-btn">

                                                <a class="btn btn-primary" href="{% url 'edit student' pk=student.pk %}">Details and Edit</a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
{#                        List of students ends#}
                                {% endfor %}
                            </table>
                        </div>
                    </div>


                        </div>
                    </div>
                </div>

            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
      </main>
{% endblock %}