{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Are you sure you want to delete {{ student.name }}?</h4>
                    <div class="text-center">
                        <form method="post" action="{% url 'delete student' pk=student.pk %}">
                            {% csrf_token %}
                        <button class="btn btn-primary me-3">Yes</button>
                        <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}