{% extends 'base.html' %}
{% block content %}
    {% load custom_filters %}
<form method="post">
{% csrf_token %}

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                                                                                             width="150px"
                                                                                             {% if request.user.profile_picture %}
                        src="{{ request.user.profile_picture }}"
                                                                                             {% else %}
                                                                                             src="https://cdn-icons-png.flaticon.com/512/2354/2354280.png">
                    {% endif %}<span
                        class="font-weight-bold"></span><span
                        class="text-black-50">{{ form.email.field.label}} {{ form.email|custom_class:'form-control' }} {{ form.email.errors }}</span><span> </span></div>


            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>
{#                            <input type="text" class="form-control"#}
{#                                                                                       placeholder="first name"#}
{#                                                                                       value="">#}
                            {{ form.first_name.errors }}
                            {{ form.first_name|custom_class:'form-control' }}
                        </div>
                        <div class="col-md-6"><label class="labels">Surname</label>
{#                            <input type="text"#}
{#                                                                                          class="form-control" value=""#}
{#                                                                                          placeholder="surname">#}
                            {{ form.last_name.errors }}
                            {{ form.last_name|custom_class:'form-control' }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label>
{#                            <input type="text"#}
{#                                                                                                 class="form-control"#}
{#                                                                                                 placeholder="enter phone number"#}
{#                                                                                                 value="">#}
                            {{ form.phone.errors }}
                            {{ form.phone|custom_class:'form-control' }}
                        </div>
                        <div class="col-md-12"><label class="labels">Profile picture</label>
                            {{ form.profile_picture.errors }}
                            {{ form.profile_picture|custom_class:'form-control' }}
                            </div>
                        <div class="col-md-12"><label class="labels">State</label>
                            {{ form.state.errors }}
                            {{ form.state|custom_class:'form-control' }}
                        </div>

                        <div class="col-md-12"><label class="labels">Education</label>
                            {{ form.education.errors }}
                            {{ form.education|custom_class:'form-control' }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label>
                            {{ form.country.errors }}
                            {{ form.country|custom_class:'form-control' }}
                        </div>

                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Edit Experience</span></div>
                    <br>
                    <div class="col-md-12"><label class="labels">Experience in:</label>
                        {{ form.experience.errors }}
                        {{ form.experience|custom_class:'form-control' }}
                    </div>
                    <br>
                    <div class="col-md-12"><label class="labels">Additional Details</label>
                        {{ form.additional_details.errors }}
                        {{ form.additional_details|custom_class:'form-control' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</form>
{% endblock %}